<div class="row">
  <div class="col-md-4">
    <h3>Day 1: Tuesday</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00 AM</td>  <td>Setup and installation</td> </tr>
      <tr> <td>10:30 AM</td>  <td>The Unix Shell</td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td>The Unix Shell Cont.</td> </tr>
      <tr> <td>03:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2: Wednesday</h3>
    <table class="table table-striped">
      <tr> <td>10:00 AM</td>  <td>Intro to Git and GitHub</td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td>Programming with Python</td> </tr>
      <tr> <td>03:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3: Thursday</h3>
    <table class="table table-striped">
      <tr> <td>10:00 AM</td>  <td>Plotting with Programming Cont.</td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td>Plotting with Programming Cont.</td> </tr>
      <tr> <td>03:00 PM</td>  <td>END and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
